html, body{
    height: 100%;
}

body{
    position: relative;
}

#top-content{
    height: 5em;
    margin: 0 1em;
    position: relative;
}

#controls{
    margin: .25em 0;
    position: absolute;
    bottom: 0px;
}

#editable{
    /*position: absolute;*/
    top: 5em;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    padding: 1em;
    margin-right: 10px;
    min-height: 500px;
    border-radius: 4px;
    background: #EEE;
}
#new_note {
    margin:0 0 10px 0;
}
#title {
    background: #eee;
}

.switch_note:before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 1px 4px 0 0;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -48px -48px;
    background-repeat: no-repeat;
}

.controls button{
	margin-bottom: 10px;
}

.controls input {
	margin-bottom: 10px;
}

.navbar-static-top{
    margin-bottom: 10px;
}

.redactor_editor{
    min-height:200px;
}
